SWAGGER_DOCS=true
SWAGGER_ROUTE=api
API_DOCS_UI=scalar
DATABASE_URL="postgresql://psique:psique@localhost:5432/psique_dev?schema=public"
JWT_SECRET=
JWT_REFRESH_SECRET=
PANIC_REQUEST_TIMEOUT_MS=60000
PANIC_OFFER_TIMEOUT_MS=15000

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
